<div class="gen-form-container cont" >
  <div class="recipe-card">
    <div class="recipe-subclass">
      <div class="name-del">
      <h2><%= public_recipe_data[:recipe].name %></h2><br>
      <p class="capi">By: <strong><%= public_recipe_data[:user] %></strong></p>
    </div>
    <div class="desc">
      <p>Total food: <%= public_recipe_data[:food_count] %></p>
      <p>Total price: <%= public_recipe_data[:total_price] %></p>
    </div>
    </div>
    </div>
  </div>
</div>