<div class="gen-form-container cont">
  <div class="recipe-card">
    <div class="recipe-subclass">
      <div class="name-del">
      <h2><%= recipe.name %></h2>
      <%# <% if can? :destroy, recipe %>
        <%= button_to "Remove", recipe, method: :delete, class: 'danger-btn' %>
      <%# <% end %>
    </div>
    <div class="desc">
      <p><%= recipe.description %></p>
    </div>
    </div>
    <div class="view-link">
            <%= 
  link_to "View", recipe_path(recipe), class: 'view-btn'
  %>
    </div>
  </div>
</div>