<div class="gen-form-cont">
   <div class="form-container">
    <h1>New food</h1><br>

    <%= render "form", food: @food %>

    <br>

    <div>
      <%= link_to "Back to foods", foods_path %>
    </div>
  </div>
</div>
